{% extends 'base.html.twig' %}

{% block body %}
	<br>
	<div class="row justify-content-center">
		<div class="col-md-10 col-md-offset-1 mb-4">
			<h1>Connexion</h1>
			<form action="{{ path('login') }}" method="POST">
				<div class="form-group">
					<input class="form-control" placeholder=" Adresse email..." type="text" name="_username" requiered>
				</div>
				<br>
				<div class="form-group">
					<input class="form-control" placeholder=" Mot de passe..." type="password" name="_password" requiered>
				</div>
				<br>
				<div class="form-group">
					<button type="submit" class="btn btn-success">
						Connexion !
					</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
