
.slide-image{
    max-height: 263px;
    max-width: 1048px;
    align-self: center;
    }

.card-text{
    color: #434343;
    font-weight: normal;
    font-size: 14px;
}
.over{
    background: #E9E9E9;
}
.ui-sortable-helper
{
   list-style-type: none;
   background:none;    
   border:none;   
}


.boards {
	background-color: rgb(241,243,245);
	border-radius: 6px;
	padding-bottom: 10px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.boards h1{
    text-transform: uppercase;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #0dcaf0;
	color: white;
	padding: 6px 10px;
    font-family: var(--bs-body-font-family);
	font-size: 24px;
	margin: 0;
}

.plus_jobs{
	background-color: rgb(241,243,245) !important;
    border-style: none !important;
}

.sorted-list  {
    list-style-type: none !important;
	background-color: rgb(241,243,245);
    border-left: red;
    border-left-width: 10px;
	border-style: none !important;
	margin: 10px;
    padding: none;
	font-size: 12px;
}
#hidden{
    border-style: none !important;
    padding: none;
    margin: none;
}
.text-muted { text-align: right;
    }

.icon{

    position: absolute;
    
}
.card-task {    margin: none !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

}

.card-title{
	font-weight: bold !important;
    text-align: left;
 
}

.boards h3 {
    padding: 16px!important;
    min-width: 300px;
    width: 100%;
    margin: 0;
    background-color: #FFFF;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}

.dropzone {
    padding: 16px;
    min-width: 300px;
    min-height: 200px;
    justify-content: center;
    height: 100%;
}
.ui-tabs .ui-tabs-panel {    
    margin: 1px 0 0 0 !important;
    border: none !important;
    padding:1px 0 0 0 !important;}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: none;
    font-weight: normal;
    color: #ffffff;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #ffffff;
    text-decoration: none;
}
.tabs .ui-tabs .ui-tabs-panel .ui-tabs-panel .ui-corner-bottom .ui-widget-content {
    margin: none !important;
    border: none !important;
    padding: none !important;
    width: 100% !important;
    height: 100% !important;
    background: #ffffff;
    color: #333333;
}
.list-group-item-action{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border: none !important;
    color: #333333;
}
