
.slide-image{
    max-height: 263px;
    max-width: 1048px;
    align-self: center;
    }

.card-text{
    color: #434343;
    font-weight: normal;
    font-size: 14px;
}
.over{
    background: #E9E9E9;
}
ul{
    list-style-type: none;
}

.boards {
	background-color: rgb(241,243,245);
	border-radius: 6px;
	padding-bottom: 10px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.boards h1{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: rgb(7,38,82);
	color: white;
	padding: 6px 10px;
	font-size: 20px;
	margin: 0;
}


.plus_jobs{
	background-color: rgb(241,243,245) !important;
    border-style: none !important;
}
.sorted-list{
	background-color: rgb(241,243,245);
	border-style: none !important;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	margin: 10px;
	font-size: 12px;
}
.text-muted { text-align: right;}


.icon{

    position: absolute;
    
}

.card-title{
	font-weight: bold !important;
    text-align: left;
 
}

.boards h3 {
    padding: 16px!important;
    min-width: 300px;
    width: 100%;
    margin: 0;
    background-color: #FFFF;
    font-weight: bold;
    font-size: 18px;
    color: #1C1C2E;
}

.dropzone {
    padding: 16px;
    min-width: 300px;
    min-height: 200px;
    justify-content: center;
    height: 100%;
}