{% extends 'base.html.twig' %}

{% block header_title %}
	<div class="container">
		<h1 class="text-center ">Bienvenue
			{{user.username}}
			sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
	</div>
{% endblock %}

{% block body %}{% endblock %}
