<div class="row card-header">
	<h4 class="card-title col-6">{{ task.title }}
	</h4>
	<p class="text-muted small mb-0 col-6">par :
		{{ task.user.username}}</p>
</div>
<div class="card-body">
	<p class="card-text">{{ task.content }}</p>
</div>
